* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.not-found {
  text-decoration: underline;
  color: black;
  font-weight: bolder;
}

/* Google translate remove navbar */
body > .skiptranslate {
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

@media print {
  #google_translate_element {
    display: none;
  }
}

/* Google translate remove spinner */
.google-translate {
  display: none !important;
}
.goog-te-banner-frame {
  display: none !important;
}

.goog-te-banner {
  display: none !important;
}

/* hide the Google Translate navbar */
.goog-te-menu-value {
  display: none !important;
}

/* show only the language select box */
.goog-te-combo {
  display: block !important;
}
.spinner {
  display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none;
}

.googleSelectbox {
  color: black;
  font-size: 18px;
}
