/* Tablet and Smaller Desktop 701-1120 */
/*Mobile*/
@media (max-width: 700px) {
  .topnewsbackbtn {
    margin: 2px solid blue;
    background-color: aliceblue;
  }
  .topnewslink {
    color: black;
    text-decoration: none;
  }
  .topnewslink::before {
    content: "⬅️";
    width: fit-content;
    height: max-content;
  }
}
