.HomepageContainer {
  font-family: "Times New Roman", Times, serif;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #212121;
}

[data-theme="light"] .HomepageContainer {
  font-family: "Times New Roman", Times, serif;
  width: 100vw;
  height: 100vh;
  background: white;
}

.HomepageHeader {
  font-size: 35px;
  text-align: center;
  color: white;
  line-height: 1.5;
  border: 5px solid white;
  border-radius: 15px;
  margin: 10px 15px;
}

[data-theme="light"] .HomepageHeader {
  border: 5px solid black;
  color: black;
}

.themeDiv {
  background-color: black;
  margin-bottom: 60px;
}

.routedPagesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.routedPages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px 5px;
  margin-top: 2rem;
  font-weight: bolder;
  text-decoration: none;
  font-size: 35px;
  text-align: center;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
}

@media (min-width: 1000px) {
  .routedPagesContainer {
    width: 90%;
    margin-top: 5rem;
    margin-left: 8rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 70px;
  }

  .routedPages:nth-last-child(1) {
    width: 40vw;
    height: 20vh;
    grid-area: 1 / 1 / 2 / 2;
  }
  .routedPages:nth-last-child(2) {
    width: 40vw;
    height: 20vh;
    grid-area: 1 / 2 / 2 / 3;
  }
  .routedPages:nth-last-child(3) {
    width: 40vw;
    height: 20vh;
    grid-area: 2 / 1 / 3 / 2;
  }
  .routedPages:nth-last-child(4) {
    width: 40vw;
    height: 20vh;
    grid-area: 2 / 2 / 3 / 3;
  }
  .routedPages:nth-last-child(5) {
    width: 40vw;
    height: 20vh;
    grid-area: 3 / 1 / 4 / 2;
  }
  .routedPages:nth-last-child(6) {
    width: 40vw;
    height: 20vh;
    grid-area: 3 / 2 / 4 / 3;
  }
}

[data-theme="light"] .routedPages {
  background-color: black;
  color: white;
}

.routedPages span {
  font-size: 30px;
  text-decoration: underline;
  color: blue;
}

[data-theme="light"] .routedPages span {
  color: white;
}

@media (max-width: 490px) {
  .routedPages {
    font-size: 22px;
  }

  .routedPages span {
    font-size: 20px;
  }
}
